body {
    margin: 0;
    background-color: rgba(38, 73, 70, 1.0);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
}

body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px; /* Adjust based on the width of your border image */
    background-image: url('../img/background.jpg'); /* Replace with your image path */
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the pseudo-element */
    z-index: 1; /* Ensure it appears above the background */
}

body::before {
    left: 0;
}

body::after {
    right: 0;
}

header {
    display: flex;
    justify-content: center;
}

.h-logo {
    width: 25%;
    height: auto;
    position: relative;
    margin-left: 37%;
}


.form-container {
    background-color: rgba(38, 73, 70, 1.0);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(50px);
    animation: fadeIn 1s forwards;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    box-shadow: 0 28px 22px -14px #f5ad58; /* Bottom shadow */}

.request-form {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
}

.request-form h2 {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: #f5ad58;
}

.request-form label {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 20px;
    color: rgb(247, 230, 161);
}

.request-form input,
.request-form textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #f5ad58;
    border-radius: 5px;
    background-color: rgba(247, 230, 161, 0.1);
    color: #fff;
}

.request-form button {
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5ad58;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.request-form button:hover {
    background-color: #e69b4e;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
